[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LeafArea"]
	path = LeafArea
	url = https://github.com/mattocci27/leafarea
[submodule "calba"]
	path = calba
	url = https://github.com/mattocci27/calba
[submodule "mglmn"]
	path = mglmn
	url = https://github.com/mattocci27/mglmn
[submodule "ztpln"]
	path = ztpln
	url = https://github.com/mattocci27/ztpln
